/*
start main css styles
*/

body {
  background: #d9d9d9;
  margin-top: 10em;
}

.header {
  width: 100%;
  height: 150px;
  background-color: slategrey;
  color: #eac67a;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

main {
  margin-top: 150px;
}

.site-name {
    text-align: center;
    font-family: serif;
    font-size: 2em;
}

a {
  text-decoration: none;
  color: #eac67a;

}

.main-nav {
  float: right;
  display: none;
  background-color: slategrey;
}

.site-name > h1 {
  margin: 0;
  font-size: 1.5em;
}

section {
  padding-top: 1em;
  padding-bottom: 2em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-bottom: 4px solid slategrey;
}

/*
end main css styles
*/

/*
styling and moving the burger menu
*/

.flipBurger-container {
  width: 5.5em;
}

.flipBurger
{

  margin-left: 1em;
}

.flipBurger span
{
  position: relative;
  width: 4.5em;
  height: .5em;
  background: #eac67a;
  display: block;
  margin-bottom: 1em;
  transition: .5s;
}
.flipBurger span:nth-child(1)
{
  transform-origin: right;
}
.flipBurger span:nth-child(2)
{
  transform-origin: left;
}
.flipBurger span:nth-child(3)
{
  transform-origin: right;
}
.flipBurger.active span:nth-child(1)
{
  transform: rotate(315deg);
  right: .625em;
}
.flipBurger.active span:nth-child(2)
{
  transform: scaleX(0);
}
.flipBurger.active span:nth-child(3)
{
  transform: rotate(-315deg);
  top: .25em;
  right: .625em;
}

/*
end burger menu styling and movment
*/

/*
start of burger drop menu
*/

.main-nav.dropped
{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: auto;
  margin: 0;
  position: absolute;
  top: 150px;
  left: 0;
  padding: 0;
}
.main-nav li
{
  border-bottom: 2px solid #eac67a;
  margin-top: 1em;
  list-style: none;
  font-size: 2em;
}

/*
end of burger drop menu
*/

/*
start of login styles
*/

/*
end of login styles
*/

/*
start of members styles
*/
.members ul li {
    list-style: none;
    display: inline;
}

.members ul li img {
  height: 8em;
  display: inline-block;
  border: 2px solid #eac67a;
}
/*
end of members styles
*/

/*
start of about styles
*/

.about {
  width: 80%;
  margin: 0 auto;
}

/*
end of about styles
*/

/*
start books styles
*/

.books ul li {
    list-style: none;
    display: inline;
}

.books ul li img {
  height: 8em;
  display: inline-block;
  border: 2px solid #eac67a;
}

/*
end of books styles
*/

/*
start of calendar styles
*/

.calendar img {
  height: 22em;
  border: 2px solid SlateGrey;

}

/*
end of calendar styles
*/

/*
start responsive layout
*/

 .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px){

  .flipBurger-container {
    display: none;
  }

  .main-nav {
      display: block;
  }

  .main-nav li {
    display: inline-block;
  }

  .row {
      flex-direction: row;
      border-bottom: 8px solid SlateGrey;
    }

    .login,
    .members, .about, .books, .messages, .calendar {
      align-self: flex-start;
      padding: 1em;
      border-bottom: none;
    }
}

/*
end responsive layout
*/

/*
start clear fix styles
*/

body {
  margin: 0;
}

/*
end clear fix stylesheet
*/
