/*
start main css styles
*/

body {
  background: #d9d9d9;
  margin-top: 10em;
}

.header {
  width: 100%;
  height: 10em;
  background-color: slategrey;
  color: #eac67a;
  top: 0;
  position: fixed;
}

.site-name {
    text-align: center;
    font-family: serif;
    font-size: 2em;
}

a {
  text-decoration: none;
  color: #eac67a;

}

.main-nav {
  float: right;
  display: none;
}

section {
  padding-top: 1em;
  padding-bottom: 2em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-bottom: 4px solid slategrey;
}

/*
end main css styles
*/

/*
styling and moving the burger menu
*/

.flipBurger-container {
  width: 5.5em;
  height: 3em;
}

.flipBurger
{
  position: relative;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-left: 1em;
}

.flipBurger span
{
  position: relative;
  width: 4.5em;
  height: .5em;
  background: #eac67a;
  display: block;
  margin-bottom: 1em;
  transition: .5s;
}
.flipBurger span:nth-child(1)
{
  transform-origin: right;
}
.flipBurger span:nth-child(2)
{
  transform-origin: left;
}
.flipBurger span:nth-child(3)
{
  transform-origin: right;
}
.flipBurger.active span:nth-child(1)
{
  transform: rotate(315deg);
  right: .625em;
}
.flipBurger.active span:nth-child(2)
{
  transform: scaleX(0);
}
.flipBurger.active span:nth-child(3)
{
  transform: rotate(-315deg);
  top: .25em;
  right: .625em;
}

/*
end burger menu styling and movment
*/

/*
start of burger drop menu
*/

.main-nav.dropped
{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
}
.main-nav li
{
  border-bottom: 2px solid #eac67a;
  margin-top: 1em;
  font-size: 4em;
  list-style: none;
  float: left;
  font-size: 2em;
}

/*
end of burger drop menu
*/

/*
start of login styles
*/

/*
end of login styles
*/

/*
start of members styles
*/
.members ul li {
    list-style: none;
    display: inline;
}

.members ul li img {
  height: 8em;
  display: inline-block;
}
/*
end of members styles
*/

/*
start of about styles
*/

.about {
  width: 80%;
  margin: 0 auto;
}

/*
end of about styles
*/

/*
start books styles
*/

.books ul li {
    list-style: none;
    display: inline;
}

.books ul li img {
  height: 8em;
  display: inline-block;
}

/*
end of books styles
*/

/*
start of calendar styles
*/

.calendar img {
  height: 22em;
}

/*
end of calendar styles
*/

/*
start media queries
*/

@media only screen and (max-width: 768px) {

}

/*
end media queries
*/
